@import "_variables.scss";

.app {
  display: flex;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

textarea {
  resize: none;
}

@media (prefers-reduced-motion: no-preference) {
  .appLogo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  position: absolute;
}

.background {
  width: 100%;
  display: inline-block;
  height: fit-content;
  min-height: 100vh;
  display: flex;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
button,
a {
  border-radius: $borderRadius;
  align-self: center;
  margin: 15px 0 10px;
  width: 150px;
  height: 34px;
  background-color: $primary;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  animation: slide-in 1.1s forwards;
  -webkit-animation: slide-in 1.1s forwards;
  transform: translateY(600px);
  -webkit-transform: translateY(600px);
  text-decoration: auto;
}

.formBody {
  margin: auto;
  width: 80%;
  background-color: #ffffffdb;
  padding: 50px;
  animation: slide-in 1s forwards;
  -webkit-animation: slide-in 1s forwards;
  transform: translateY(500px);
  -webkit-transform: translateY(500px);
  border-radius: $borderRadius;
  display: flex;
  flex-direction: column;
  border: $silver solid 2px;
  h2 {
    color: $primary;
    text-align: center;
    margin-bottom: 30px;
  }
  .row {
    animation: slide-in 1s forwards;
    -webkit-animation: slide-in 1s forwards;
    transform: translateY(520px);
    -webkit-transform: translateY(520px);
    display: flex;
    align-items: center;
    margin: 10px;
    span {
      font-weight: 600;
      width: 25%;
      color: $primary;
    }
    input,
    textarea {
      width: 75%;
      height: 34px;
      border: $gray solid 1px;
      border-radius: $borderRadius;
      padding: 10px;
      font-size: 16px;
      &:focus {
        border-color: $primary;
        outline: none;
      }
    }
    textarea {
      height: 100px;
    }
  }
  @media (max-width: 767px) {
    width: 95%;
    padding: 30px;
    .row {
      flex-direction: column;
      align-items: flex-start;
      margin: 10px 0;
      span {
        margin-bottom: 10px;
        width: 100%;
      }
      input,
      textarea,
      .PhoneInput {
        width: 100%;
      }
    }
  }
}

.PhoneInput {
  width: 75%;
  border-radius: $borderRadius;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  &.mobileError {
    input {
      border-color: red !important;
    }
  }
}

@keyframes slide-in {
  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes slide-in {
  100% {
    -webkit-transform: translateY(0);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 24px;
  height: 24px;
  border: 4px solid #ffffff;
  border-top: 3px solid $primary;
  border-radius: 50%;
  transition-property: transform;
  animation: rotate infinite 1s linear;
}

.stepWrapper {
  position: relative;
  z-index: 1;

  &.accomplished {
    .step {
      border-color: $primary;
    }
    .stepCount,
    .stepLabel {
      color: $primary;
    }
  }

  .step {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 3px solid $transPrimary;
    transition: 0.4s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .stepCount {
    font-size: 19px;
    color: $transPrimary;
  }

  .stepsLabelContainer {
    position: absolute;
    top: 66px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .stepLabel {
    font-size: 19px;
    color: $transPrimary;
  }
  @media (max-width: 767px) {
    .stepCount,
    .stepLabel {
      font-size: 16px;
    }
    .step {
      width: 30px;
      height: 30px;
    }
  }
}

.progressPage {
  width: 80%;
  padding: 100px 0;
  justify-items: center;
  display: flex;
  margin: auto;
  flex-direction: column;
  animation: slide-in 1s forwards;
  -webkit-animation: slide-in 1s forwards;
  transform: translateY(500px);
  -webkit-transform: translateY(500px);
  h1 {
    font-size: 40px;
    text-align: center;
  }
  h3 {
    font-size: 20px;
    margin: 20px 0 40px;
    text-align: center;
  }
  .RSPBprogressBar {
    width: 100%;
    margin-bottom: 100px;
  }
  @media (max-width: 767px) {
    width: 70%;
    h1 {
      font-size: 30px;
    }
  }
}
